﻿@model IEnumerable<AceOfSpadesCVGS.Models.CVGS_reviews>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.reviewDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gameId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isApproved)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.reviewDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gameId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isApproved)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.reviewId }) |
            @Html.ActionLink("Details", "Details", new { id=item.reviewId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.reviewId })
        </td>
    </tr>
}

</table>
