﻿@model AceOfSpadesCVGS.Models.CVGS_reviews

@{
    ViewBag.Title = "Pending";
}

<h2>Pending</h2>
<h1>Your review is pending approval.</h1>
<h1>Please Wait.</h1>
@Html.ActionLink("Back to Home", "Index", "Home")

