﻿@model IEnumerable<AceOfSpadesCVGS.Models.CVGS_reviews>

@{
    ViewBag.Title = "ViewPending";
}

<h2>ViewPending</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.reviewDescription)
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model.isApproved)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.reviewDescription)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.isApproved)
        </td>
     
    </tr>
}

</table>
