﻿@{
    ViewBag.Title = "Reports";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Here are a list of the reports and there pages.</p>
<li>
    <a href="@Url.Action("Index", "Users")" class="elements">
        <span>Game List Report</span>
    </a>
</li>
<li>
    <a href="@Url.Action("Index", "Users")" class="elements">
        <span>Game Detail Report</span>
    </a>
</li>
<li>
    <a href="@Url.Action("Index", "Users")" class="elements">
        <span>Member List Report</span>
    </a>
</li>
<li>
    <a href="@Url.Action("Index", "Users")" class="elements">
        <span>Member Detail Report</span>
    </a>
</li>
<li>
    <a href="@Url.Action("Index", "Users")" class="elements">
        <span>Sales Report</span>
    </a>
</li>