﻿@model AceOfSpadesCVGS.Models.CVGS_game

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CVGS_game</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.game_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.game_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ESRB_rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESRB_rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.game_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.game_description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.game_release)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.game_release)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.game_catergory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.game_catergory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.game_developer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.game_developer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.game_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.game_price)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
