﻿@model IEnumerable<AceOfSpadesCVGS.Models.CVGS_game>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h3>@ViewBag.Message</h3>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <p>Game Name</p>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ESRB_rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.game_description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.game_release)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.game_catergory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.game_developer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.game_price)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.game_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ESRB_rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.game_description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.game_release)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user_rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.game_catergory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.game_price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.game_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.game_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.game_id })
        </td>
    </tr>
}

</table>
