﻿@model AceOfSpadesCVGS.Models.CVGS_FriendsOrFamily

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CVGS_FriendsOrFamily</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.senderEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.senderEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.recieverEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recieverEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isAccepted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isAccepted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isBlocked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isBlocked)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isFamily)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isFamily)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.requestId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
