﻿@model IEnumerable<AceOfSpadesCVGS.Models.CVGS_game>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <p>Game Name</p>
        </th>
        <th>
            <p>ESRB Rating</p>
        </th>
        <th>
            <p>Game Description</p>
        </th>
        <th>
            <p>Game Release Date</p>
        </th>
        <th>
            <p>Game User Rating</p>
        </th>
        <th>
            <p>Game Category</p>
        </th>
        <th>
            <p>Game Developer</p>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.game_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ESRB_rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.game_description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.game_release)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user_rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.game_catergory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.game_developer)
            </td>
        </tr>
    }

</table>