﻿
@{
    ViewBag.Title = "Member List Report";
}

<h2>Member List</h2>
<table class="table">
    <tr>
        <th>
            <p>UserName</p>
        </th>
    </tr>
    <tr><td>Andrew</td></tr>
    <tr><td>James</td></tr>
</table>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
