﻿@using AceOfSpadesCVGS.Models;
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Continue Shopping","Index","CVGS_gameMember")
</p>
<table class="table">
    <tr>
        <th>
            Name:
        </th>
        <th>
            Price:
        </th>
        <th>
            Quantity:
        </th>
        <th>
            Sub Total:
        </th>
    </tr>

    @foreach (var cart in (List<Cart>)Session["Cart"])
    {
    <tr>
        <td>
            @cart.CVGS_Game.game_name
        </td>
        <td>
            @cart.CVGS_Game.game_price
        </td>
        <td>
            @cart.Quantity
        </td>
        <td>
            @(String.Format("{0:N2}",cart.CVGS_Game.game_price * cart.Quantity))
        </td> 
        <td>
            @Html.ActionLink("Remove from Cart", "DeleteCartItem","Cart",new { id=cart.CVGS_Game.game_id},null)
        </td>
    </tr>
    }
    <tr>
        <td>
            Total Due:
        </td>
            <td>
                @{
                    List<Cart> TotalDue = (List<Cart>)Session["Cart"];
                    var total = String.Format("{0:N2}", TotalDue.Sum(p => p.Quantity*p.CVGS_Game.game_price));
                }
                @total CDN
            </td>
    </tr>
</table>
<p>
    @Html.ActionLink("Check out", "checkout", "Cart")
</p>