﻿@model AceOfSpadesCVGS.Models.CVGS_member

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CVGS_member</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.platform)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.platform)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.game_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.game_type)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.shipping_address)
        </dt>


        <dd>
            @Html.DisplayFor(model => model.shipping_address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.mailling_address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.mailling_address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.creditCardNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.creditCardNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.expiryDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.expiryDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.creditCardVerfiyNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.creditCardVerfiyNumber)
        </dd>


        @*<dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CVGS_address.address_street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CVGS_address.address_street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CVGS_library.game_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CVGS_library.game_id)
        </dd>*@

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
