﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Ace Of Spades CVGS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Buy Games", "Index", "CVGS_gameMember")</li>
                    <li>
                        @if (Session["Cart"] != null)
                        {
                            @Html.ActionLink("Cart", "Index", "Cart")
                        }
                    </li>
                    <li>
                        @if (Session["user_id"] != null)
                        {
                            @Html.ActionLink("My orders", "orderCustomer", new { id = Session["user_id"] })
                        }
                    </li>
                    @*<li>@Html.ActionLink("Cart", "Index", "Cart")</li>*@
                    <li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (User.IsInRole("Admin"))
                            {
                                @Html.ActionLink("View all Orders", "order_Admin", "order")
                            }
                        }
                    </li>
                    <li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (User.IsInRole("Admin"))
                            {
                                @Html.ActionLink("order", "order", "order")
                            }
                        }
                    </li>
                    <li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (User.IsInRole("Admin"))
                            {
                                @Html.ActionLink("Games CRUD", "Index", "CVGS_game")
                            }
                        }
                    </li>
                    <li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (User.IsInRole("Admin"))
                            {
                                @Html.ActionLink("Reports", "Index", "Report")
                            }
                        }
                    </li>

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Ace Of Spades CVGS</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
